.services{
  width:100%;
display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 0.5rem 1.5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    &__left{
    animation: moveInLeft 1s ease-out;
    }

    &__right{
    animation: moveInRight 1s ease-out;
    }

    i{
      font-size: 4.5rem;
    grid-row: 1/3;
    display: grid;
    align-self: start;
    }
    h3{
      color: azure;
      font-size: 2.5rem;
    }
    p{
      grid-column: 2/3;
      font-size: 1.5rem;
    }
}